section
	header
		h2 Chrome
	h3 Tabs
	h4 Windows 8
	img(src='images/win-8-blue@2x.png' width='100%' height='auto').chrome
	img(src='images/win-8-grey@2x.png' width='100%' height='auto').chrome
	h4 Windows 7
	img(src='images/win-7-aero@2x.png' width='100%' height='auto').chrome
	h4 Windows XP
	img(src='images/win-xp-silver@2x.png' width='100%' height='auto').chrome
	img(src='images/win-xp-olive@2x.png' width='100%' height='auto').chrome
	h4 OSX
	img(src='images/osx@2x.png' width='100%' height='auto').chrome
	h4 Linux
	img(src='images/linux@2x.png' width='100%' height='auto').chrome