section
	header
		h2 Color
	nav.nav-group.horizontal.light.clear
		ul
			li
				a.active Firefox Desktop
			li 
				a.disabled Firefox Android
			li
				a.disabled FirefoxOS
			li
				a.disabled Web Properties
	h3 Platform &amp; inContent Color
	div.clear
		div.swatch
			div
			h4 Light Grey
			span HEX: #FBFBFB;
			span HOVER: #EBEBEB;
			span ACTIVE: #DADADA;
		div.swatch
			div
			h4 Body Background Grey
			span HEX: #F2F2F2;
		div.swatch
			div
			h4 Dark Grey
			span HEX: #424F5A;
			span HOVER: #5E6972;
			span ACTIVE: #343F48;
		div.swatch
			div
			h4 Light Text
			span HEX: #C1C1C1;
		div.swatch
			div
			h4 Dark Text
			span HEX: #333333;
		div.swatch
			div
			h4 Blue
			span HEX: #0095DD;
			span HOVER: #008ACB;
			span ACTIVE: #006B9D;
		div.swatch
			div
			h4 Green
			span HEX: #74BF43;
			span HOVER: #6CB23E;
			span ACTIVE: #64A43A;
		div.swatch
			div
			h4 Highlight Orange
			span HEX: #FF9500;
		div.swatch
			div
			h4 Error Red
			span HEX: #D74345;

	