section
	header
		h2 Color
	h3 Platform &amp; inContent Color
	div.clear
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB
		div.swatch
			div
			span RGB: 251,351,251
			span HEX: #FBFBFB