section#form
	header
		h2 Form Elements
	h3 Buttons
	div#buttons
		h4 Platform Example
		div.clear.example-group.platform
			button.button.primary Primary
			button.button.emphasis Emphasis
			button.button.special Special
		h4 inContent Example
		div.clear.example-group.in-content
			button.button.primary Primary
			button.button.emphasis Emphasis
			button.button.special Special
	h3 Button Group
	div#button-group
		h4 Platform Example
		div.clear.example-group.platform
			div.button-group
				button button
				button button
				button button
				button button
		h4 inContent Example
		div.clear.example-group.in-content
			div.button-group
				button button
				button button
				button button
				button button