doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='#{css_path}')
  body
    
    div#sidebar
      header
        div#logo
      nav(id='main-navigation' class='toc')
    
    div#wrapper
      include introduction
      include form-elements
      include navigation
      include typography
      include color
      include glyphs
      include chrome

    footer#main-footer
      p A style guide or style manual is a set of standards for the writing and design of documents,
      p either for general use or for a specific publication, organization or field. 
      p The implementation of a style guide provides uniformity in style and formatting
      p within a document and across multiple documents.
    footer#sub-footer
      
    script(type='text/javascript', src='#{script_path}')
    script(type='text/javascript', src='http://localhost:35729/livereload.js')


