section
	header
		h2 Introduction
	p.
		<strong>Design at Mozilla</strong> – spread across many project and teams – is crafted every day using methods and styles that in some cases are unique to the individual teams. This can result in a diluting of our overall message through inconsistent design practises. To address these concerns, we have initiated a cross-team effort we’re calling Project Chameleon.
	h3 What is Project Chameleon?
	h4 Key Goal 
	ul
		li Create a first class, comprehensive Mozilla-recognizable visual language.
	h4 Secondary Goal
	ul
		li Expand the One Mozilla style guide to encompass all active projects/products.
		li Strengthen cross-team collaboration and communications.
		li Educate the community and design industry on the strength of Mozilla’s design teams.
	h3 What this is not
	p.
		This project is not a redesign or style overhaul. The purpose of the visual language is to document the current design standards across Mozilla projects/products into one overarching style and point out inconsistencies in order to align those styles across the board. There may be tweaks here and there based on the findings, but no sweeping changes.
	h3 Expanding on design values
	a(href='http://people.mozilla.org/~madhava/FDV/')
		img(src='images/ring_1.png' width='100%' height='auto')
	p.
		The <a href='http://people.mozilla.org/~madhava/FDV/'> Firefox design values</a>
		created by the UX team are a perfect foundation to build on when it comes to visual consistency and the key factors that drive it. Expanding on these – with a particular focus on the “Finely crafted” tier – will ensure a cohesive feel that ensures our work embodies the underlying values.
	p.
		Within the finely crafted tier, it states that “a beautiful product is a pleasure to use and feels easy and clear. This only comes with craft and attention to detail.” This attention to detail combined with cross-team style unity are the building blocks to achieving the goals of the project.
	p.
		Stay tuned for much more information over the next few weeks, including who is involved and how we plan to involve the greater Mozilla community in our process!

