@font-face {
    font-family: 'segoe_uiregular';
    src: url('../fonts/src/fonts/segoe/segoeui-webfont.eot');
    src: url('../fonts/src/fonts/segoe/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/src/fonts/segoe/segoeui-webfont.woff') format('woff'),
         url('../fonts/src/fonts/segoe/segoeui-webfont.ttf') format('truetype'),
         url('../fonts/src/fonts/segoe/segoeui-webfont.svg#segoe_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'segoe_uibold';
    src: url('../fonts/src/fonts/segoe/segoeuib-webfont.eot');
    src: url('../fonts/src/fonts/segoe/segoeuib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/src/fonts/segoe/segoeuib-webfont.woff') format('woff'),
         url('../fonts/src/fonts/segoe/segoeuib-webfont.ttf') format('truetype'),
         url('../fonts/src/fonts/segoe/segoeuib-webfont.svg#segoe_uibold') format('svg');
    font-weight: normal;
    font-style: normal;
}