body {
  background: #FFF;
  font-family: "Helvetica Neue", Helvetica, Sans-serif;
  color: #333333; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*=====MINIMAL RESETS, ADJUSTMENTS, ETC =====*/
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Sans-serif;
  color: #424f5a;
  clear: both; }

h1, h2, h3 {
  margin: 0 0 1em 0; }

h4, h5, h6 {
  margin: 0 0 1.66em 0; }

ul, ol {
  padding: 0 0 0 1em; }

ul, ol, p {
  line-height: 24px;
  margin: 0 0 1.4em 0; }

#sidebar {
  width: 240px;
  position: fixed;
  height: 100%;
  background: #424F5A; }

#sidebar header {
  background-image: linear-gradient(-46deg, rgba(0, 255, 239, 0.1) 0%, rgba(21, 255, 124, 0.12) 48%, rgba(45, 255, 0, 0.15) 100%); }

#sidebar header #logo {
  height: 180px;
  background: url(../images/dfa@2x.png) no-repeat center center;
  background-size: 124px 124px; }

.grid-group {
  clear: both;
  margin: 0 0 50px 0; }

.grid-left {
  float: left;
  width: 280px;
  margin: 0 50px 0 0; }

.grid-right {
  float: left;
  width: 280px; }

.example-group {
  margin-bottom: 50px;
  position: relative; }

.example {
  padding: 50px 20px 20px 20px;
  border: 1px solid #c1c1c1;
  border-radius: 2px 2px 0 0;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.in-content:after {
  content: 'In Content Example';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  color: #c1c1c1;
  text-transform: uppercase; }

.platform:after {
  content: 'Platform Example';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  color: #c1c1c1;
  text-transform: uppercase; }

.platform:after {
  content: 'Platform Example';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  color: #c1c1c1;
  text-transform: uppercase; }

.both {
  background: #fbfbfb; }

.both:after {
  content: 'Platform & In Content Example';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  color: #c1c1c1;
  text-transform: uppercase; }

.platform {
  background: #f2f2f2; }

.example-pre {
  position: relative;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 50px 20px 20px 20px;
  background: #fbfbfb; }

.example-pre:after {
  content: 'Code';
  position: absolute;
  top: 1em;
  font-size: 12px;
  color: #c1c1c1;
  text-transform: uppercase; }

.example-pre pre {
  margin: 0; }

/*=====NAVIGATION=====*/
#main-navigation ul {
  margin: 0;
  list-style: none;
  padding: 0; }

#main-navigation a {
  color: #CCCCCC;
  text-decoration: none;
  font-size: 16px;
  padding: 30px 20px;
  display: block;
  transition: background-color 100ms; }
  #main-navigation a:hover {
    background-color: #5e6972; }

#main-navigation li.nav-active a {
  color: #f2f2f2;
  background: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 4px 0px 0px 0px #FF9500;
  box-shadow: inset 4px 0px 0px 0px #FF9500; }

/*=====Formatting Section=====*/
#wrapper {
  width: 610px;
  margin: 0 0 100px 280px;
  padding: 40px 0 0 0;
  font-family: "Helvetica Neue", Helvetica, Sans-serif; }

section p {
  line-height: 24px; }

section h2 {
  font-size: 40px;
  font-weight: lighter; }

section h3 {
  font-size: 24px;
  margin: 0 0 1.6em 0;
  font-weight: lighter; }

section {
  margin-bottom: 50px;
  border-bottom: 1px dashed #C1C1C1;
  padding-bottom: 50px; }

/*====BUTTON STYLES====*/
#form .platform {
  font-size: 12px; }
#form .in-content {
  font-size: 14px; }
#form .platform .button {
  padding: 6px;
  margin: 0 24px 0 0;
  width: 90px; }
#form .platform input[type=text] {
  width: 50%; }
#form .in-content .button {
  padding: 8px;
  margin: 0 28px 0 0;
  width: 105px; }
#form .in-content input[type=text] {
  width: 60%; }
#form .button {
  border-radius: 2px; }
  #form .button.primary {
    border: 1px solid #c1c1c1;
    background-color: #fbfbfb; }
    #form .button.primary:hover {
      background-color: #ebebeb; }
    #form .button.primary:active {
      background-color: #dadada; }
  #form .button.emphasis {
    color: #fbfbfb;
    border: none;
    background: #0095dd; }
    #form .button.emphasis:hover {
      background: #008acb; }
    #form .button.emphasis:active {
      background: #006b9d; }
  #form .button.special {
    color: #fbfbfb;
    border: none;
    background: #74bf43; }
    #form .button.special:hover {
      background: #6cb23e; }
    #form .button.special:active {
      background: #64a43a; }
  #form .button.input-button {
    border-left: none;
    padding: 5px 10px;
    line-height: 1.4em;
    border-radius: 0 2px 2px 0; }
#form #button-group .button-group button {
  background: #fbfbfb;
  border-top: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  border-left: none;
  width: 104px;
  padding: 8px; }
  #form #button-group .button-group button:hover {
    background: #ebebeb; }
  #form #button-group .button-group button:active {
    background: #dadada; }
#form #button-group .button-group :first-child {
  border-radius: 2px 0 0 2px;
  border-left: 1px solid #c1c1c1; }
#form #button-group .button-group :last-child {
  border-radius: 0 2px 2px 0; }
#form .icon-button {
  margin: 32px;
  width: 40px;
  height: 40px; }
  #form .icon-button.primary {
    border: none; }
  #form .icon-button:hover {
    border: 1px solid #c1c1c1; }
  #form .icon-button:active {
    border: 1px solid #c1c1c1; }
  #form .icon-button span {
    visibility: hidden; }
  #form .icon-button.sync {
    background-image: url(../images/sync@2x.png);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat; }
#form input[type='text'] {
  border-radius: 2px;
  border: 1px solid #c1c1c1;
  padding: 5px 10px;
  line-height: 1.4em; }
  #form input[type='text']:active, #form input[type='text']:focus {
    border-color: #0095dd; }
#form input.button-input {
  border-radius: 2px 0 0 2px; }
#form input.error {
  border: 1px solid #d74345; }
#form .form-label {
  display: block;
  margin-bottom: .5em; }
#form .error-label {
  display: block;
  margin-top: .5em;
  color: #d74345; }

/*====Navigation*======*/
#wrapper .nav-group ul {
  list-style: none;
  padding: 0;
  margin: 0; }
#wrapper .nav-group a {
  cursor: pointer;
  text-decoration: none;
  transition: background-color 50ms; }
#wrapper .nav-group.horizontal li {
  float: left;
  height: 38px; }
#wrapper .nav-group.horizontal a {
  padding: 10px 20px; }
#wrapper .nav-group.vertical a {
  display: block;
  padding: 10px 20px;
  width: 200px; }
#wrapper .nav-group.dark a {
  background-color: #424f5a;
  color: #fbfbfb; }
#wrapper .nav-group.dark a:hover {
  background-color: #5e6972; }
#wrapper .nav-group.dark a:active {
  background: #343f48; }
#wrapper .nav-group.dark.vertical a.active {
  background: #343f48;
  box-shadow: inset 4px 0px 0px 0px #FF9500; }
#wrapper .nav-group.dark.horizontal a.active {
  background: #343f48;
  box-shadow: inset 0px -4px 0px 0px #FF9500; }
#wrapper .nav-group.light a {
  background-color: #fbfbfb;
  color: #424f5a; }
#wrapper .nav-group.light a:hover {
  background-color: #ebebeb; }
#wrapper .nav-group.light a:active {
  background: #dadada; }
#wrapper .nav-group.light.vertical a.active {
  background: #dadada;
  box-shadow: inset 4px 0px 0px 0px #ff9500; }
#wrapper .nav-group.light.horizontal a.active {
  background: #dadada;
  box-shadow: inset 0px -4px 0px 0px #ff9500; }

/*====COLOR STYLES=====*/
.swatch {
  width: 200px;
  height: 240px;
  float: left; }
  .swatch h4 {
    text-align: center;
    margin: 0; }
  .swatch span {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold; }
  .swatch div {
    height: 120px;
    width: 120px;
    margin: 0 auto 10px auto;
    border-radius: 80px;
    font-size: 10px;
    position: relative;
    text-align: center;
    transition: background-color 250ms; }
  .swatch:nth-child(1) div {
    background-color: #fbfbfb;
    cursor: pointer; }
    .swatch:nth-child(1) div:hover {
      background-color: #ebebeb; }
    .swatch:nth-child(1) div:active {
      background-color: #dadada; }
  .swatch:nth-child(2) div {
    background-color: #f2f2f2; }
  .swatch:nth-child(3) div {
    background-color: #424f5a;
    cursor: pointer; }
    .swatch:nth-child(3) div:hover {
      background-color: #5e6972; }
    .swatch:nth-child(3) div:active {
      background-color: #343f48; }
  .swatch:nth-child(4) div {
    background-color: #c1c1c1; }
  .swatch:nth-child(5) div {
    background-color: #333333; }
  .swatch:nth-child(6) div {
    background-color: #0095dd;
    cursor: pointer; }
    .swatch:nth-child(6) div:hover {
      background-color: #008acb; }
    .swatch:nth-child(6) div:active {
      background-color: #006b9d; }
  .swatch:nth-child(7) div {
    background-color: #74bf43;
    cursor: pointer; }
    .swatch:nth-child(7) div:hover {
      background-color: #6cb23e; }
    .swatch:nth-child(7) div:active {
      background-color: #64a43a; }
  .swatch:nth-child(8) div {
    background-color: #ff9500; }
  .swatch:nth-child(9) div {
    background-color: #d74345; }

/*=====Typography=====*/
.mega-text {
  font-size: 100px;
  line-height: 1em; }

div.windows {
  font-family: 'segoe_uiregular' !important; }
  div.windows h1, div.windows h2 {
    font-family: 'segoe_uiregular' !important; }
  div.windows h3 {
    font-family: 'segoe_uibold' !important; }

div.mac {
  font-family: 'lucida grande'; }
  div.mac h1, div.mac h2 {
    font-family: 'lucida grande' !important; }
  div.mac h3 {
    font-family: 'lucida grande' !important;
    font-weight: bold; }
  div.mac p {
    font-size: 13px; }

div.charis {
  font-family: 'charis_silregular'; }
  div.charis h1, div.charis h2 {
    font-family: 'charis_silregular' !important; }
  div.charis h3 {
    font-family: 'charis_silregular' !important;
    font-weight: bold; }
  div.charis p {
    font-size: 13px; }

div.clear-sans {
  font-family: 'clear_sansregular'; }
  div.clear-sans h1, div.clear-sans h2 {
    font-family: 'clear_sansregular' !important; }
  div.clear-sans h3 {
    font-family: 'clear_sansregular' !important;
    font-weight: bold; }
  div.clear-sans p {
    font-size: 13px; }

div.fira {
  font-family: 'fira_sanslight'; }
  div.fira h1, div.fira h2 {
    font-family: 'fira_sanslight' !important; }
  div.fira h3 {
    font-family: 'fira_sanslight' !important;
    font-weight: bold; }
  div.fira p {
    font-size: 13px; }

div.type-sample {
  padding: 0 0 0 40px; }
  div.type-sample h1 {
    font-size: 24px;
    font-weight: normal;
    position: relative; }
    div.type-sample h1:after {
      content: '<h1>';
      position: absolute;
      font-size: 12px;
      font-family: sans-serif;
      color: #c1c1c1;
      left: -40px;
      bottom: 0; }
  div.type-sample h2 {
    font-size: 16px;
    position: relative; }
    div.type-sample h2:after {
      content: '<h2>';
      position: absolute;
      font-size: 12px;
      font-family: sans-serif;
      color: #c1c1c1;
      left: -40px;
      bottom: 0; }
  div.type-sample h3 {
    font-size: 14px;
    position: relative; }
    div.type-sample h3:after {
      content: '<h3>';
      position: absolute;
      font-size: 12px;
      font-family: sans-serif;
      color: #c1c1c1;
      left: -40px;
      bottom: 0;
      font-weight: normal; }
  div.type-sample p {
    font-size: 12px;
    position: relative; }
    div.type-sample p:after {
      content: '<p>';
      position: absolute;
      font-size: 12px;
      font-family: sans-serif;
      color: #c1c1c1;
      left: -40px;
      bottom: 0; }

/*====PLACEHOLDER STYLES====*/
.box {
  height: 400px;
  background: url(../images/template@2x.png) white;
  background-size: 610px 400px; }

/*====STUPID CLEARFIX====*/
.clear:before,
.clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }
