body {
  background: white;
  color: #333333;
  font-family: 'clear_sansregular'; }

*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*=====MINIMAL RESETS, ADJUSTMENTS, ETC =====*/
h1, h2, h3, h4, h5, h6 {
  color: #424f5a;
  clear: both; }

h1, h2, h3 {
  margin-bottom: 1em; }

h4, h5, h6 {
  margin-bottom: 1.66em; }

h1, h2 {
  font-family: 'fira_sanslight'; }

h3, h4, h5, h6 {
  font-family: 'clear_sansregular'; }

ul, ol {
  padding-left: 1em; }

ul, ol, p {
  line-height: 24px;
  margin: 0 0 1.4em 0; }

#about-mozilla {
  background-image: url("../images/moz-logo-light@2x.png");
  background-size: 69px 19px;
  cursor: pointer;
  height: 19px;
  opacity: 0.5;
  position: absolute;
  right: 12px;
  top: 12px;
  transition: opacity 150ms;
  width: 69px; }
  #about-mozilla:hover {
    opacity: 1; }

#sidebar {
  background: #424f5a;
  height: 100%;
  position: fixed;
  width: 180px;
  z-index: 999; }

#sidebar aside {
  border-radius: 10px;
  border: 1px dashed #5e6972;
  color: #c1c1c1;
  font-size: 12px;
  line-height: 1.8em;
  margin: 20px;
  padding: 10px;
  text-align: center; }
  #sidebar aside a {
    color: #0095dd; }

#main-navigation ul {
  list-style: none;
  margin-top: 40px;
  padding: 0; }

#main-navigation a {
  color: #c1c1c1;
  display: block;
  font-size: 14px;
  padding: 10px 5px 10px 42px;
  position: relative;
  text-decoration: none;
  transition: background-color 150ms; }
  #main-navigation a:hover, #main-navigation a:focus {
    background-color: #5e6972; }
  #main-navigation a:before {
    background: #c1c1c1;
    border-bottom: 4px solid #c1c1c1;
    border-radius: 2px;
    border-top: 4px solid #fbfbfb;
    content: '';
    height: 18px;
    left: 15px;
    position: absolute;
    top: 12px;
    transition: border-radius 400ms;
    width: 18px; }

#main-navigation li.nav-active a {
  background: #343f48;
  box-shadow: 4px 0 0 #ff9500 inset;
  color: #f2f2f2; }
  #main-navigation li.nav-active a:before {
    background: #f2f2f2;
    border-radius: 50%; }

.toc-break {
  visibility: hidden;
  display: block; }

#main-footer {
  background: url(../images/cham-wordmark@2x.png) 40px 25px no-repeat #31383d;
  background-size: 280px 104px;
  padding: 35px 0 45px 0;
  position: relative;
  width: 100%;
  z-index: 999; }
  #main-footer p {
    color: #c1c1c1;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0 0 0 350px; }

#sub-footer {
  background: url(../images/moz-logo@2x.png) no-repeat 64px center #1c1e20;
  background-size: 54px 14px;
  height: 14px;
  padding: 20px 0;
  position: relative;
  width: 100%;
  z-index: 999; }

.grid-group {
  clear: both;
  margin-bottom: 50px; }

.grid-left {
  float: left;
  margin: 0 50px 0 0;
  width: 280px; }

.grid-right {
  float: left;
  width: 280px; }

.example-group {
  margin-bottom: 50px;
  position: relative; }

.example {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  border-radius: 2px 2px 0 0;
  border: 1px solid #c1c1c1;
  font-family: 'segoe_uiregular';
  padding: 50px 20px 20px 20px;
  position: relative;
  user-select: none; }

.in-content:after {
  color: #c1c1c1;
  content: 'In Content Example';
  font-size: 12px;
  left: 20px;
  position: absolute;
  text-transform: uppercase;
  top: 20px; }

.platform:after {
  color: #c1c1c1;
  content: 'Platform Example';
  font-size: 12px;
  left: 20px;
  position: absolute;
  text-transform: uppercase;
  top: 20px; }

.platform:after {
  color: #c1c1c1;
  content: 'Platform Example';
  font-size: 12px;
  left: 20px;
  position: absolute;
  text-transform: uppercase;
  top: 20px; }

.both {
  background: #fbfbfb; }

.both:after {
  color: #c1c1c1;
  content: 'Platform & In Content Example';
  font-size: 12px;
  left: 20px;
  position: absolute;
  text-transform: uppercase;
  top: 20px; }

.platform {
  background: #f2f2f2; }

.example-pre {
  background: #fbfbfb;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  display: none;
  padding: 50px 20px 20px 20px;
  position: relative; }

.example-pre:after {
  font-size: 12px;
  color: #c1c1c1;
  content: 'Code';
  position: absolute;
  text-transform: uppercase;
  top: 1em; }

.example-pre pre {
  margin: 0; }

/*=====Formatting Section=====*/
#wrapper {
  margin: 0 0 100px 270px;
  padding: 0 0 0 0;
  width: 610px;
  position: relative;
  z-index: 1; }

section p {
  line-height: 24px; }
  section p a {
    color: #0095dd; }

section > header > h2 {
  font-size: 40px;
  font-weight: lighter;
  margin: 0;
  padding: 0 0 40px 0;
  position: relative; }
  section > header > h2:before {
    background: #424f5a;
    border-radius: 2px;
    border-top: 7px solid #343f48;
    content: '';
    height: 30px;
    left: -50px;
    position: absolute;
    top: 12px;
    width: 30px; }

section h3 {
  font-size: 24px;
  font-weight: lighter;
  margin: 0 0 1.6em 0; }

section {
  border-bottom: 1px dashed #C1C1C1;
  margin-bottom: 30px;
  padding-bottom: 30px; }

/*====BUTTON STYLES====*/
#form .platform {
  font-size: 12px; }
#form .in-content {
  font-size: 14px; }
#form .platform .button {
  margin: 0 24px 0 0;
  padding: 6px;
  width: 104px; }
#form .platform input[type=text] {
  width: 50%; }
#form .platform .select select {
  padding: 6px;
  width: 104px; }
#form .platform .select:after {
  top: 2px;
  right: 10px;
  width: 8px;
  height: 8px; }
#form .platform .select:before {
  top: 0px;
  right: 2px; }
#form .platform label.combo {
  width: 104px !important;
  overflow: hidden !important;
  background: none; }
#form .platform .combo select {
  padding: 6px 0;
  width: 104px;
  overflow: hidden !important; }
#form .platform .combo button {
  height: 31px;
  width: 30px;
  right: 32px;
  right: 1px;
  top: -7px; }
#form .in-content .button {
  padding: 8px;
  margin: 0 28px 0 0;
  width: 120px; }
#form .in-content input[type=text] {
  width: 60%; }
#form .in-content .select select {
  padding: 8px;
  width: 120px; }
#form .in-content .select:after {
  top: 1px;
  right: 15px;
  width: 10px;
  height: 10px; }
#form .in-content .select:before {
  top: 0px;
  right: 10px; }
#form .in-content label.combo {
  width: 120px !important;
  overflow: hidden !important;
  background: none; }
#form .in-content .combo select {
  padding: 8px;
  width: 120px;
  overflow: hidden; }
#form .in-content .combo button {
  height: 37px;
  width: 37px;
  right: 1px;
  top: -9px; }
#form .both .button {
  font-size: 14px;
  margin: 0 29px 0 0;
  height: 30px;
  width: 120px; }

.button {
  border-radius: 2px; }
  .button.primary {
    border: 1px solid #c1c1c1;
    background-color: #fbfbfb; }
    .button.primary:hover, .button.primary:focus {
      background-color: #ebebeb; }
    .button.primary:active {
      background-color: #dadada; }
  .button.emphasis {
    color: #fbfbfb;
    border: none;
    background: #0095dd; }
    .button.emphasis:hover, .button.emphasis:focus {
      background: #008acb; }
    .button.emphasis:active {
      background: #006b9d; }
  .button.special {
    color: #fbfbfb;
    border: none;
    background: #74bf43; }
    .button.special:hover, .button.special:focus {
      background: #6cb23e; }
    .button.special:active {
      background: #64a43a; }
  .button.input-button {
    border-left: none;
    padding: 5px 10px;
    line-height: 1.4em;
    border-radius: 0 2px 2px 0; }

#button-group .button-group button {
  background: #fbfbfb;
  border-top: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  border-left: none;
  width: 104px;
  height: 30px; }
  #button-group .button-group button:hover, #button-group .button-group button:focus {
    background: #ebebeb; }
  #button-group .button-group button:active {
    background: #dadada; }
#button-group .button-group :first-child {
  border-radius: 2px 0 0 2px;
  border-left: 1px solid #c1c1c1; }
#button-group .button-group :last-child {
  border-radius: 0 2px 2px 0; }

.select {
  position: relative;
  background: #fbfbfb; }
  .select:after {
    content: '';
    background: #c1c1c1;
    transform: rotate(45deg);
    position: absolute;
    pointer-events: none;
    transition: background-color 50ms; }
  .select:before {
    content: '';
    position: absolute;
    pointer-events: none;
    display: block;
    height: 6px;
    width: 20px;
    z-index: 100;
    background: #fbfbfb;
    transition: background-color 50ms; }
  .select:hover:before, .select:focus:before {
    background: #ebebeb; }
  .select:hover:after, .select:focus:after {
    background: #424f5a; }
  .select:active:before {
    background: #dadada; }
  .select:active:after {
    background: #424f5a; }
  .select select {
    transition: background-color 50ms;
    padding: 3px;
    margin: 0;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    outline: none !important;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: '';
    color: #333333;
    color: rgba(51, 51, 51, 0);
    text-shadow: 0 0 0 #333333; }
    .select select:hover, .select select:focus {
      background: #ebebeb; }
    .select select:active {
      background: #dadada; }
  .select option {
    border: none !important;
    outline: none !important;
    border-left: none;
    background: #fbfbfb !important; }

.combo {
  position: relative;
  background: #fbfbfb;
  display: inline !important; }
  .combo button {
    background: #fbfbfb;
    transition: background-color 50ms;
    padding: 3px;
    margin: 0;
    border-left: 1px solid #c1c1c1;
    border-radius: 0 2px 2px 0;
    border-right: none;
    border-top: none;
    border-bottom: none;
    outline: none !important;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: '';
    position: absolute; }
    .combo button:hover, .combo button:focus {
      background: #ebebeb; }
    .combo button:active {
      background: #dadada; }
  .combo select {
    transition: background-color 50ms;
    padding: 3px;
    margin: 0;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    line-height: 14px;
    outline: none !important;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: '';
    color: #333333;
    color: rgba(51, 51, 51, 0);
    text-shadow: 0 0 0 #333333; }
    .combo select:hover, .combo select:focus {
      background: #ebebeb; }
    .combo select:active {
      background: #dadada; }
  .combo option {
    border: none !important;
    outline: none !important;
    border-left: none;
    background: #fbfbfb !important; }

.icon-button {
  margin: 32px; }
  .icon-button.primary {
    border: none;
    width: 40px;
    height: 40px !important; }
  .icon-button:hover, .icon-button:focus {
    border: 1px solid #c1c1c1; }
  .icon-button:active {
    border: 1px solid #c1c1c1; }
  .icon-button span {
    visibility: hidden; }
  .icon-button.sync {
    background-image: url(../images/sync@2x.png);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat; }

input[type='text'] {
  border-radius: 2px;
  border: 1px solid #c1c1c1;
  padding: 5px 10px;
  line-height: 1.4em; }
  input[type='text']:active, input[type='text']:focus {
    border-color: #0095dd; }

input.button-input {
  border-radius: 2px 0 0 2px; }

input.error {
  border: 1px solid #d74345; }

.form-label {
  display: block;
  margin-bottom: .5em; }

.error-label {
  display: block;
  margin-top: .5em;
  color: #d74345; }

.radio, .checkbox {
  position: relative;
  display: block;
  margin: 0 0 1em 0; }
  .radio label, .checkbox label {
    padding: 10px 0;
    margin: 0 0 0 35px;
    cursor: pointer; }
    .radio label:before, .checkbox label:before {
      display: none;
      position: absolute;
      left: 0px;
      top: 0;
      display: block;
      width: 23px;
      height: 23px;
      content: '';
      border: 1px solid rgba(23, 50, 77, 0.4);
      border-radius: 2px;
      background-color: #FFF; }

.radio input, .checkbox input {
  z-index: 110;
  display: block;
  height: 44px;
  width: 44px;
  top: -11px;
  position: absolute;
  left: -11px;
  opacity: 0;
  cursor: pointer; }
.radio label, .checkbox label {
  line-height: 1.8em;
  transition: background-color 50ms; }

.radio label:before {
  border-radius: 50%; }
.radio label:after {
  transition: background-color 100ms,width 100ms,height 100ms,left 100ms,top 100ms; }

.radio input:not(:checked) + label:after {
  content: '';
  width: 13px;
  height: 13px;
  background: #FFF;
  position: absolute;
  z-index: 100;
  top: 5px;
  left: 5px;
  border-radius: 50%; }

.radio input:checked + label:after {
  content: '';
  width: 11px;
  height: 11px;
  background: #0095dd;
  position: absolute;
  z-index: 100;
  top: 6px;
  left: 6px;
  border-radius: 50%; }
.radio input:checked + label:before {
  border-color: #0095dd; }

.radio input:hover + label:before {
  border-color: #0095dd; }

.checkbox input:not(:checked) + label:after {
  content: '';
  width: 15px;
  height: 15px;
  background: #FFF;
  position: absolute;
  z-index: 100;
  top: 4px;
  left: 4px; }

.checkbox input:checked + label:after {
  content: '';
  width: 18px;
  height: 40px;
  background: url(../images/check.svg) no-repeat;
  background-size: 55px auto;
  position: absolute;
  z-index: 100;
  top: 6px;
  left: 2px; }
.checkbox input:checked + label:before {
  border-color: #0095dd; }

.checkbox input:hover + label:before {
  border-color: #0095dd; }

/* Radio Button specific styles */
.radio input:active + label:before {
  border: 1px solid #006b9d;
  box-shadow: 0 0 4px #006b9d; }
.radio input:active + label:after {
  background: #006b9d; }

.checkbox input:active + label:before {
  border: 1px solid #006b9d;
  box-shadow: 0 0 4px #006b9d; }

/*====Navigation*======*/
.disabled {
  cursor: normal;
  opacity: .5;
  cursor: default !important;
  pointer-events: none !important; }

#wrapper .nav-group ul {
  list-style: none;
  padding: 0;
  margin: 0; }
#wrapper .nav-group a {
  cursor: pointer;
  text-decoration: none;
  transition: background-color 50ms; }
#wrapper .nav-group.horizontal li {
  float: left;
  height: 38px;
  margin: 0 0 50px 0;
  width: 25%; }
#wrapper .nav-group.horizontal a {
  padding: 10px 0;
  width: 100%;
  display: block;
  text-align: center;
  border-bottom: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1; }
#wrapper .nav-group.vertical a {
  display: block;
  padding: 10px 20px;
  width: 200px; }
#wrapper .nav-group.dark a {
  background-color: #424f5a;
  color: #fbfbfb; }
#wrapper .nav-group.dark a:hover, #wrapper .nav-group.dark a:focus {
  background-color: #5e6972; }
#wrapper .nav-group.dark a:active {
  background: #343f48; }
#wrapper .nav-group.dark.vertical a.active {
  background: #343f48;
  box-shadow: inset 4px 0 0 0 #FF9500; }
#wrapper .nav-group.dark.horizontal a.active {
  background: #343f48;
  box-shadow: inset 0 -4px 0 0 #FF9500; }
#wrapper .nav-group.light a {
  background-color: #fbfbfb;
  color: #424f5a; }
#wrapper .nav-group.light a:hover, #wrapper .nav-group.light a:focus {
  background-color: #ebebeb; }
#wrapper .nav-group.light a:active {
  background: #dadada; }
#wrapper .nav-group.light.vertical a.active {
  background: #ebebeb;
  box-shadow: inset 4px 0 0 0 #ff9500; }
#wrapper .nav-group.light.horizontal a.active {
  background: #ebebeb;
  box-shadow: inset 0 -4px 0 0 #ff9500; }

/*====COLOR STYLES=====*/
.swatch {
  width: 200px;
  height: 240px;
  float: left; }
  .swatch h4 {
    text-align: center;
    margin: 0; }
  .swatch span {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold; }
  .swatch > div {
    height: 120px;
    width: 120px;
    margin: 0 auto 10px auto;
    border-radius: 80px;
    font-size: 10px;
    position: relative;
    text-align: center;
    overflow: hidden;
    transition: background-position 250ms; }
  .swatch .swatch-wrapper {
    width: 120px;
    height: 300px;
    background: #faf;
    overflow: hidden;
    position: relative;
    transition: top 200ms;
    top: 0px; }
    .swatch .swatch-wrapper:hover {
      transition: top 200ms;
      top: -40px; }
  .swatch .swatch-main {
    width: 120px;
    height: 120px; }
  .swatch .swatch-hover {
    width: 120px;
    height: 20px; }
  .swatch .swatch-active {
    width: 120px;
    height: 20px; }
  .swatch:nth-child(1) > div {
    border: 1px solid #c1c1c1;
    cursor: pointer; }
    .swatch:nth-child(1) > div .swatch-main {
      background-color: #fbfbfb; }
    .swatch:nth-child(1) > div .swatch-hover {
      background: #ebebeb; }
    .swatch:nth-child(1) > div .swatch-active {
      background: #dadada; }
  .swatch:nth-child(2) div {
    background-color: #f2f2f2; }
  .swatch:nth-child(3) div {
    cursor: pointer; }
    .swatch:nth-child(3) div .swatch-main {
      background-color: #424f5a; }
    .swatch:nth-child(3) div .swatch-hover {
      background: #5e6972; }
    .swatch:nth-child(3) div .swatch-active {
      background: #343f48; }
  .swatch:nth-child(4) div {
    background-color: #c1c1c1; }
  .swatch:nth-child(5) div {
    background-color: #333333; }
  .swatch:nth-child(6) > div {
    background-color: none;
    cursor: pointer; }
    .swatch:nth-child(6) > div .swatch-main {
      background-color: #0095dd; }
    .swatch:nth-child(6) > div .swatch-hover {
      background: #008acb; }
    .swatch:nth-child(6) > div .swatch-active {
      background: #006b9d; }
  .swatch:nth-child(7) > div {
    background-color: none;
    cursor: pointer; }
    .swatch:nth-child(7) > div .swatch-main {
      background-color: #74bf43; }
    .swatch:nth-child(7) > div .swatch-hover {
      background: #6cb23e; }
    .swatch:nth-child(7) > div .swatch-active {
      background: #64a43a; }
  .swatch:nth-child(8) div {
    background-color: #ff9500; }
  .swatch:nth-child(9) div {
    background-color: #d74345; }

/*=====Typography=====*/
.mega-text {
  font-size: 100px;
  line-height: 1em; }

div.windows {
  font-family: 'segoe_uiregular' !important; }
  div.windows h1, div.windows h2 {
    font-family: 'segoe_uiregular' !important; }
  div.windows h3 {
    font-family: 'segoe_uibold' !important; }

div.mac {
  font-family: 'lucida grande'; }
  div.mac h1, div.mac h2 {
    font-family: 'lucida grande' !important; }
  div.mac h3 {
    font-family: 'lucida grande' !important;
    font-weight: bold; }
  div.mac p {
    font-size: 13px; }

div.charis {
  font-family: 'charis_silregular'; }
  div.charis h1, div.charis h2 {
    font-family: 'charis_silregular' !important; }
  div.charis h3 {
    font-family: 'charis_silregular' !important;
    font-weight: bold; }
  div.charis p {
    font-size: 13px; }

div.clear-sans {
  font-family: 'clear_sansregular'; }
  div.clear-sans h1, div.clear-sans h2 {
    font-family: 'clear_sansregular' !important; }
  div.clear-sans h3 {
    font-family: 'clear_sansregular' !important;
    font-weight: bold; }
  div.clear-sans p {
    font-size: 13px; }

div.fira {
  font-family: 'fira_sanslight'; }
  div.fira h1, div.fira h2 {
    font-family: 'fira_sanslight' !important; }
  div.fira h3 {
    font-family: 'fira_sanslight' !important;
    font-weight: bold; }
  div.fira p {
    font-size: 13px; }

div.type-sample {
  padding: 0 0 0 40px; }
  div.type-sample h1 {
    font-size: 24px;
    font-weight: normal;
    position: relative; }
    div.type-sample h1:after {
      content: '<h1>';
      position: absolute;
      font-size: 12px;
      font-family: sans-serif;
      color: #c1c1c1;
      left: -40px;
      bottom: 0; }
  div.type-sample h2 {
    font-size: 16px;
    position: relative; }
    div.type-sample h2:after {
      content: '<h2>';
      position: absolute;
      font-size: 12px;
      font-family: sans-serif;
      color: #c1c1c1;
      left: -40px;
      bottom: 0; }
  div.type-sample h3 {
    font-size: 14px;
    position: relative; }
    div.type-sample h3:after {
      content: '<h3>';
      position: absolute;
      font-size: 12px;
      font-family: sans-serif;
      color: #c1c1c1;
      left: -40px;
      bottom: 0;
      font-weight: normal; }
  div.type-sample p {
    font-size: 12px;
    position: relative; }
    div.type-sample p:after {
      content: '<p>';
      position: absolute;
      font-size: 12px;
      font-family: sans-serif;
      color: #c1c1c1;
      left: -40px;
      bottom: 0; }

/*====CHROME======*/
.chrome {
  margin-bottom: 20px;
  display: block; }

/*====PLACEHOLDER STYLES====*/
.box {
  height: 400px;
  background: url(../images/template@2x.png) white;
  background-size: 610px 400px; }

/*====STUPID CLEARFIX====*/
.clear:before,
.clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.wip {
  background-image: url(../images/wip.png); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 18px; } }
@media screen and (max-width: 870px) {
  #sidebar {
    background: #424f5a;
    height: 48px;
    position: fixed;
    width: 100%;
    z-index: 100; }
    #sidebar aside {
      display: none; }

  #main-navigation ul {
    margin: 0; }

  #main-navigation a {
    padding: 12px 0 0 0;
    position: relative;
    height: 48px;
    overflow: hidden;
    width: 12.5%;
    float: left;
    text-align: center;
    font-size: 13px; }
    #main-navigation a:hover, #main-navigation a:focus {
      background-color: #5e6972; }
    #main-navigation a:before {
      background: #c1c1c1;
      border-bottom: 4px solid #c1c1c1;
      border-radius: 2px;
      border-top: 4px solid #fbfbfb;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      top: 14px;
      transition: border-radius 400ms;
      width: 0; }

  #main-navigation li.nav-active a {
    background: rgba(0, 0, 0, 0.2);
    height: 48px;
    box-shadow: 0 -4px 0 #ff9500 inset;
    color: #f2f2f2;
    padding: 12px 0 8px  0 !important; }
    #main-navigation li.nav-active a:before {
      background: #f2f2f2;
      border-radius: 50%;
      content: '';
      height: 0px;
      left: 11px;
      position: absolute;
      top: 14px;
      width: 0px; }

  #main-navigation a[href='#nav1'] {
    content: 'forms' !important; }

  #wrapper {
    margin: 0 auto;
    padding: 80px 0; }

  section > header > h2 {
    margin: 0 0 0 50px; }

  .toc-break {
    height: 40px; }

  #main-footer {
    display: none; } }
@media screen and (max-width: 610px) {
  #sidebar {
    background: #424f5a;
    height: 48px;
    position: relative;
    width: 100%;
    z-index: 999; }
    #sidebar aside {
      display: none; }

  #wrapper {
    width: 96%;
    margin: 0 auto; } }
