@import 'variables';

body {
    background: #fff /*url(../images/wip.png)*/;
    font-family: $default-font;
    color: $text-dark-grey;
}

*, :after, :before {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

/*=====MINIMAL RESETS, ADJUSTMENTS, ETC =====*/

h1,h2,h3,h4,h5,h6 {
    font-family: $default-header-font;
    color: $dark-grey;
    clear: both;
}

h1,h2,h3 {
    margin: 0 0 1em 0;
}

h4,h5,h6 {
    margin: 0 0 1.66em 0;
}


ul, ol {
    padding: 0 0 0 1em;
}

ul, ol, p {
    line-height: 24px;
    margin: 0 0 1.4em 0;
}

#sidebar {
    width:240px;
    position:fixed;
    height:100%;
    background: #424F5A;
}

#sidebar header {
    background-image: $chameleon-gradient;
}

#sidebar header #logo {
    height:180px;
    background: url(../images/dfa@2x.png) no-repeat center center;
    background-size: 124px 124px;
}

.grid-group {
    clear:both;
    margin: 0 0 50px 0;
}

.grid-left {
    float:left;
    width: 280px;
    margin: 0 50px 0 0;
}

.grid-right {
    float:left;
    width: 280px;
}

.example-group {
    margin-bottom: 50px;
    position: relative;
}

.example {
    padding: 50px 20px 20px 20px;
    border: 1px solid $text-light-grey;
    border-radius: 2px 2px 0 0;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'segoe_uiregular'
}

.in-content:after {
    content: 'In Content Example';
    position: absolute;
    top:20px;
    left:20px;
    font-size:12px;
    color: $text-light-grey;
    text-transform: uppercase;
}

.platform:after {
    content: 'Platform Example';
    position: absolute;
    top:20px;
    left:20px;
    font-size:12px;
    color: $text-light-grey;
    text-transform: uppercase;
}

.platform:after {
    content: 'Platform Example';
    position: absolute;
    top:20px;
    left:20px;
    font-size:12px;
    color: $text-light-grey;
    text-transform: uppercase;
}

.both {
        background: $light-grey;
}

.both:after {
    content: 'Platform & In Content Example';
    position: absolute;
    top:20px;
    left:20px;
    font-size:12px;
    color: $text-light-grey;
    text-transform: uppercase;
}

.platform {
    background: $body-background-grey;
}


.example-pre {
    display:none;
    position: relative;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;

    padding:50px 20px 20px 20px;
    background: $light-grey;
}

.example-pre:after {
    content: 'Code';
    position: absolute;
    top:1em; 
        font-size:12px;
    color: $text-light-grey;
    text-transform: uppercase; 
}

.example-pre pre {
    margin:0;
}



/*=====NAVIGATION=====*/

#main-navigation ul {
    margin:0;
    list-style:none;
    padding:0;
}

#main-navigation a {
    color: #CCCCCC;
    text-decoration: none;
    font-size: 16px;
    padding: 30px 20px;
    display: block;
    transition: background-color 100ms;
    &:hover, &:focus {
        background-color: $hover-dark-grey;
    }
}

#main-navigation li.nav-active a {
    color: #f2f2f2;
    background: rgba(0,0,0,0.20);
    -moz-box-shadow:    inset 4px 0px 0px 0px #FF9500;
    box-shadow:         inset 4px 0px 0px 0px #FF9500;
}

#main-footer {
    background: url(../images/cham-wordmark@2x.png) 20px 38px no-repeat $footer-dark-grey;
    background-size: 280px 104px;
    width:100%;
    position: relative;
    z-index:999;
    padding:40px 0;
    p {
        color: $text-light-grey;
        margin: 0 0 0 350px;
        line-height: 1.5em;
    }
}

#sub-footer {
    background: url(../images/moz-logo@2x.png) no-repeat 20px center $footer-black; 
    background-size: 54px 14px;
    height:14px;
    padding:20px 0;
    width:100%;
    position: relative;
    z-index:999;
}




/*=====Formatting Section=====*/

#wrapper {
    width:610px;
    margin: 0 0 100px 280px;
    padding: 40px 0 0 0;
    font-family: $default-font;
}

section p {
    line-height:24px;
}

section h2 {
    font-size: 40px;
    font-weight: lighter;
}

section h3 {
    font-size: 24px;
    margin: 0 0 1.6em 0;
    font-weight: lighter;
}

section {
margin-bottom: 50px;
border-bottom: 1px dashed #C1C1C1;
padding-bottom: 50px;
}


/*====BUTTON STYLES====*/

#form {
    .platform {
        font-size:12px;
    }

    .in-content {
        font-size:14px;
    }

    .platform {
        .button {
            padding:6px;
            margin: 0 24px 0 0;    
            width:104px;
        }
        input[type=text]{
            width:50%;
        }
        .select {
            select {
                padding:6px;
                width:104px;
            }
            &:after {
                top:2px;
                right:10px; 
                width: 8px;
                height: 8px;
            }
            &:before {
                top:0px;
                right:2px; 
            }
        }
        label.combo {
            width:104px !important;
            overflow:hidden !important;
            background: none;
        }
        .combo {
            select {
                padding:6px 0;
                width:104px;
                overflow: hidden !important;
            }
            button{
                height:31px;
                width: 30px;
                right:32px;
                right:1px;
                top: -7px;
            }
        }
    }
    .in-content {
        .button {
            padding: 8px;
            margin: 0 28px 0 0;  
            width:120px;  
        }
        input[type=text]{
            width:60%;
        }
        .select {
            select {
                padding:8px;
                width:120px;
            }
            &:after {
                top:1px;
                right:15px;
                width: 10px;
                height: 10px;
            }
            &:before {
                top:0px;
                right:10px;
            }

        }
        label.combo {
            width:120px !important;
            overflow:hidden !important;
            background: none;
        }
        .combo {
            select {
                padding:8px;
                width:120px;
                overflow: hidden;
            }            
            button{
                height:37px;
                width: 37px;
                right:1px;
                top: -9px;
            }
        }
    }
    .both {
        .button {
            font-size: 14px;
            margin: 0 29px 0 0;
            height:30px;
            width:120px;
        }
    }
    .button {
        border-radius: 2px;
        &.primary {
            border:1px solid $text-light-grey;
            background-color: $light-grey;
            &:hover, &:focus {
                background-color: $hover-light-grey;
            }
            &:active {
                background-color: $active-light-grey;
            }
        }
        &.emphasis {
            color: $light-grey;
            border:none;
            background: $blue;
            &:hover, &:focus {
                background: $hover-blue;
            }
            &:active {
                background: $active-blue;
            }
        }
        &.special {
            color: $light-grey;
            border:none;
            background: $green;
            &:hover, &:focus {
                background: $hover-green;
            }
            &:active {
                background: $active-green;
            }
        }
        &.input-button {
            border-left:none;
            padding:5px 10px;
            line-height: 1.4em;
            border-radius: 0 2px 2px 0;
        }
    }
    #button-group {

        .button-group {
            button {
                background: $light-grey;
                border-top:1px solid $text-light-grey;
                border-right:1px solid $text-light-grey;
                border-bottom:1px solid $text-light-grey;
                border-left: none;
                width: 104px;
                height:30px;
                &:hover, &:focus {
                    background: $hover-light-grey;
                }
                &:active {
                    background: $active-light-grey;
                }
            }
            :first-child {
                border-radius:2px 0 0 2px;
                border-left:1px solid $text-light-grey;
            }
            :last-child {
                border-radius:0 2px 2px 0;
            }
        }
    }

    .select {
        position:relative;
        background: $light-grey;
        &:after {
            content:'';
            background:$text-light-grey;
            transform:rotate(45deg);
            position:absolute;
            pointer-events:none;
            transition: background-color 50ms;
        }
        &:before {
            content:'';
            position:absolute;
            pointer-events:none;
            display:block;
            height:6px;
            width:20px;
            z-index: 999;
            background: $light-grey;
            transition: background-color 50ms;
        }
        &:hover, &:focus {
            &:before {
                background: $hover-light-grey;
            }
            &:after {
                background: $dark-grey;
            }
        }
        &:active {
            &:before {
                background: $active-light-grey;
            }
            &:after {
                background: $dark-grey;
            }
        }
        select {
            transition: background-color 50ms;
            padding:3px;
            margin: 0;
            border:1px solid $text-light-grey;
            border-radius: 2px;
            outline:none !important;
            display: inline-block;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            cursor:pointer;
            text-indent: 0.01px;
            text-overflow: '';
            color: $text-dark-grey;
            color:rgba(51,51,51,0);
            text-shadow: 0 0 0 $text-dark-grey;
            &:hover, &:focus {
                background: $hover-light-grey;
            }
             &:active {
                background: $active-light-grey;
            }
        }
        option {
            border:none !important;
            outline: none!important;
            border-left:none;
            background: $light-grey !important;
        }
    }

    .combo {
        position:relative;
        background: $light-grey;
        display: inline !important;
        button {
            background: $light-grey;
            transition: background-color 50ms;
            padding:3px;
            margin: 0;
            border-left:1px solid $text-light-grey;
            border-radius: 0 2px 2px 0;
            border-right:none;
            border-top:none;
            border-bottom:none;
            outline:none !important;
            display: inline-block;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            cursor:pointer;
            text-indent: 0.01px;
            text-overflow: '';
            position: absolute;
            &:hover, &:focus {
                background: $hover-light-grey;
            }
             &:active {
                background: $active-light-grey;
            }

        }
        select {
            transition: background-color 50ms;
            padding:3px;
            margin: 0;
            border:1px solid $text-light-grey;
            border-radius: 2px;
            line-height:14px;
            outline:none !important;
            display: inline-block;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            cursor:pointer;
            text-indent: 0.01px;
            text-overflow: '';
            color: $text-dark-grey;
            color:rgba(51,51,51,0);
            text-shadow: 0 0 0 $text-dark-grey;
            &:hover, &:focus {
                background: $hover-light-grey;
            }
             &:active {
                background: $active-light-grey;
            }

        }
        option {
            border:none !important;
            outline: none!important;
            border-left:none;
            background: $light-grey !important;
        }

    }


    .icon-button {
        margin:32px;
        &.primary {
            border:none;
            width:40px;
            height:40px !important;
        }
        &:hover, &:focus {
            border:1px solid $text-light-grey;
        }
        &:active {
            border:1px solid $text-light-grey;
        }   
        span {
            visibility: hidden;
        }
        &.sync {
            background-image: url(../images/sync@2x.png);
            background-size:30px 30px;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    input[type='text'] {
        border-radius:2px;
        border: 1px solid $text-light-grey;
        padding:5px 10px;
        line-height:1.4em;
        &:active,&:focus {
            border-color: $blue;
        }
    }

    input.button-input {
        border-radius: 2px 0 0 2px;
    }

    input.error {
        border:1px solid $error-red;
    }

    .form-label {
        display: block;
        margin-bottom:.5em;
    }

    .error-label {
        display: block;
        margin-top: .5em;
        color: $error-red;
    }

    .radio, .checkbox {
        position: relative;
        display: block;
        margin:0 0 1em 0;
        input {
        }
        label {
            margin: 0 0 0 35px;
            &:before {
                display: none;
                position: absolute;
                left:0px;
                top:0;
                display: block;
                width:23px;
                height:23px;
                content:'';
                border: 1px solid rgba(23,50,77,.40);
                border-radius: 2px;
                background-color: #FFF;
            }
        }
    }

    .radio,.checkbox {
        input {
            position: absolute;
            z-index:9999;
            width:44px;
            height:44px;
            top:-11px;
            left:-11px;
            opacity:0;
            cursor:pointer;
        }
        label {
            line-height: 1.8em;
            transition: background-color 50ms;

        }
    }

    .radio {
        label {
            &:before {
                border-radius:50%;
            }
        }
    }

    .radio input:not(:checked) + label {
        &:after {
            content:'';
            width:15px;
            height:15px;
            background: #FFF;
            position: absolute;
            z-index: 999;
            top:4px;
            left:4px;
            border-radius:50%;
        }
    }
    .radio input:checked + label {
        &:after {
            content:'';
            width:11px;
            height:11px;
            background: $blue;
            position: absolute;
            z-index: 999;
            top:6px;
            left:6px;
            border-radius:50%;
        }
        &:before {
            border-color: $blue;
        }
    }
    .radio input:hover + label {
        &:before  {
            border-color: $blue;
        }
    }
    .checkbox input:not(:checked) + label {
        &:after {
            content:'';
            width:15px;
            height:15px;
            background: #FFF;
            position: absolute;
            z-index: 999;
            top:4px;
            left:4px;
        }
    }
    .checkbox input:checked + label {
        &:after {
            content:'';
            width:18px;
            height:40px;
            background: url(../images/check.svg) no-repeat;
            background-size: 55px auto;
            position: absolute;
            z-index: 999;
            top:6px;
            left:2px;
        }
        &:before {
            border-color: $blue;
        }
    }
    .checkbox input:hover + label {
        &:before  {
            border-color: $blue;
        }
    }
    /* Radio Button specific styles */
}

/*====Navigation*======*/
.disabled {
    cursor: normal;
    opacity: .5;
    cursor: default !important;
    pointer-events: none !important;
}

#wrapper .nav-group {
    ul {
        list-style: none;
        padding:0; 
        margin:0;
    }
    a {
        cursor: pointer;
        text-decoration: none;
        transition: background-color 50ms;
    }
    &.horizontal {
        li {
            float:left;
            height: 38px;
            margin:0 0 50px 0;
            width:25%;
        }
        a {
            padding:10px 0;
            width:100%;
            display:block;
            text-align:center;
            border-bottom: 1px solid $text-light-grey;
            border-top: 1px solid $text-light-grey;
        }
    }
    &.vertical {
        a {
            display: block;
            padding:10px 20px;
            width:200px;
        }
    }
    &.dark {
        a {
            background-color: $dark-grey;
            color: $light-grey;
        }   
        a:hover,a:focus {
            background-color: $hover-dark-grey;
        }
        a:active{
            background: $active-dark-grey;
        }
        &.vertical {
            a.active {
                background: $active-dark-grey;
                box-shadow: inset 4px 0px 0px 0px #FF9500;
            }
        }
        &.horizontal {
            a.active {
                background: $active-dark-grey;
                box-shadow: inset 0px -4px 0px 0px #FF9500;
            }
        }      
    }
    &.light {
        a {
            background-color: $light-grey;
            color: $dark-grey;
        }   
        a:hover, a:focus {
            background-color: $hover-light-grey;
        }
        a:active{
            background: $active-light-grey;
        }
        &.vertical {
            a.active {
                background: $hover-light-grey;
                box-shadow: inset 4px 0px 0px 0px $highlight-orange;
            }
        }
        &.horizontal {
            a.active {
                background: $hover-light-grey;
                box-shadow: inset 0px -4px 0px 0px $highlight-orange;
            }
        } 
    }
}

/*====COLOR STYLES=====*/
.swatch {
    width:200px;
    height:240px;
    float:left;
    h4 {
        text-align: center;
        margin: 0;
    }
    span {
        display: block;
        text-align: center;
        font-size:12px;
        font-weight: bold;
    }
    div {
        height:120px;
        width:120px;
        margin:0 auto 10px auto;
        border-radius:80px;
        font-size:10px;
        position: relative;
        text-align: center;
        transition: background-color 250ms;
    }
    &:nth-child(1) div {
        background-color: $light-grey;
        cursor: pointer;
        &:hover, &:focus {
            background-color: $hover-light-grey;
        }
        &:active {
            background-color: $active-light-grey;
        }
    }
    &:nth-child(2) div {
        background-color: $body-background-grey;
    }
    &:nth-child(3) div {
        background-color: $dark-grey;
        cursor: pointer;
        &:hover, &:focus {
            background-color: $hover-dark-grey;
        }
        &:active {
            background-color: $active-dark-grey;
        }
    }
    &:nth-child(4) div {
        background-color: $text-light-grey;
    }
    &:nth-child(5) div {
        background-color: $text-dark-grey;
    }
    &:nth-child(6) div {
        background-color: $blue;
        cursor: pointer;
        &:hover, &:focus {
            background-color: $hover-blue;
        }
        &:active {
            background-color: $active-blue;
        }
    }
    &:nth-child(7) div {
        background-color: $green;
        cursor: pointer;
        &:hover, &:focus {
            background-color: $hover-green;
        }
        &:active {
            background-color: $active-green;
        }
    }
    &:nth-child(8) div {
        background-color: $highlight-orange;
    }
    &:nth-child(9) div {
        background-color: $error-red;
    }
}

/*=====Typography=====*/
.mega-text {
    font-size: 100px;
    line-height: 1em;
}

div.windows {
    font-family: 'segoe_uiregular' !important;
    h1,h2 {
      font-family: 'segoe_uiregular' !important;  
    }
    h3 {
        font-family: 'segoe_uibold' !important;
    }
}

div.mac {
    font-family: 'lucida grande';
    h1,h2 {
      font-family: 'lucida grande' !important;  
    }
    h3 {
        font-family: 'lucida grande' !important;
        font-weight: bold;
    }
    p {
        font-size: 13px;
    }

}

div.charis {
    font-family: 'charis_silregular';
    h1,h2 {
      font-family: 'charis_silregular' !important;  
    }
    h3 {
        font-family: 'charis_silregular' !important;
        font-weight: bold;
    }
    p {
        font-size: 13px;
    }

}

div.clear-sans {
    font-family: 'clear_sansregular';
    h1,h2 {
      font-family: 'clear_sansregular' !important;  
    }
    h3 {
        font-family: 'clear_sansregular' !important;
        font-weight: bold;
    }
    p {
        font-size: 13px;
    }

}

div.fira {
    font-family: 'fira_sanslight';
    h1,h2 {
      font-family: 'fira_sanslight' !important;  
    }
    h3 {
        font-family: 'fira_sanslight' !important;
        font-weight: bold;
    }
    p {
        font-size: 13px;
    }

}

div.type-sample {
    padding: 0 0 0 40px;
    h1 {
        font-size: 24px;
        font-weight: normal;
        position: relative;
        &:after {
            content:'<h1>';
            position:absolute;
            font-size: 12px;
            font-family: sans-serif;
            color: $text-light-grey;
            left:-40px;
            bottom:0;
        }
    }
    h2 {
        font-size:16px;
        position: relative;
        &:after {
            content:'<h2>';
            position:absolute;
            font-size: 12px;
            font-family: sans-serif;
            color: $text-light-grey;
            left:-40px;
            bottom:0;
        }
    }
    h3 {
        font-size: 14px;
        position: relative;
        &:after {
            content:'<h3>';
            position:absolute;
            font-size: 12px;
            font-family: sans-serif;
            color: $text-light-grey;
            left:-40px;
            bottom: 0;
            font-weight: normal;
        }
    }
    p {
        font-size: 12px;
        position: relative;
        &:after {
            content:'<p>';
            position:absolute;
            font-size: 12px;
            font-family: sans-serif;
            color: $text-light-grey;
            left:-40px;
            bottom:0;
        }
    }
}

/*====CHROME======*/
.chrome {
    margin-bottom:20px;
    display: block;
}


/*====PLACEHOLDER STYLES====*/


.box {
    height:400px;
    background: url(../images/template@2x.png) #fff;
    background-size: 610px 400px;

}

/*====STUPID CLEARFIX====*/

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.wip {
    background-image: url(../images/wip.png);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

