@import 'variables';

body {
    background: #FFF;
    font-family: $default-font;
    color: $text-dark-grey;
}

*, :after, :before {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

/*=====MINIMAL RESETS, ADJUSTMENTS, ETC =====*/

h1,h2,h3,h4,h5,h6 {
    font-family: $default-header-font;
    color: $dark-grey;
    clear: both;
}

h1,h2,h3 {
    margin: 0 0 1em 0;
}

h4,h5,h6 {
    margin: 0 0 1.66em 0;
}


ul, ol {
    padding: 0 0 0 1em;
}

ul, ol, p {
    line-height: 24px;
    margin: 0 0 1.4em 0;
}

#sidebar {
    width:240px;
    position:fixed;
    height:100%;
    background: #424F5A;
}

#sidebar header {
    background-image: $chameleon-gradient;
}

#sidebar header #logo {
    height:180px;
    background: url(../images/dfa@2x.png) no-repeat center center;
    background-size: 124px 124px;
}

.grid-group {
    clear:both;
    margin: 0 0 50px 0;
}

.grid-left {
    float:left;
    width: 280px;
    margin: 0 50px 0 0;
}

.grid-right {
    float:left;
    width: 280px;
}

.example-group {
    margin-bottom: 50px;
    position: relative;
}

.example {
    padding: 50px 20px 20px 20px;
    border: 1px solid $text-light-grey;
    border-radius: 2px 2px 0 0;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.in-content:after {
    content: 'In Content Example';
    position: absolute;
    top:20px;
    left:20px;
    font-size:12px;
    color: $text-light-grey;
    text-transform: uppercase;
}

.platform:after {
    content: 'Platform Example';
    position: absolute;
    top:20px;
    left:20px;
    font-size:12px;
    color: $text-light-grey;
    text-transform: uppercase;
}

.platform:after {
    content: 'Platform Example';
    position: absolute;
    top:20px;
    left:20px;
    font-size:12px;
    color: $text-light-grey;
    text-transform: uppercase;
}

.both {
        background: $light-grey;
}

.both:after {
    content: 'Platform & In Content Example';
    position: absolute;
    top:20px;
    left:20px;
    font-size:12px;
    color: $text-light-grey;
    text-transform: uppercase;
}

.platform {
    background: $body-background-grey;
}


.example-pre {
    position: relative;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;

    padding:50px 20px 20px 20px;
    background: $light-grey;
}

.example-pre:after {
    content: 'Code';
    position: absolute;
    top:1em; 
        font-size:12px;
    color: $text-light-grey;
    text-transform: uppercase; 
}

.example-pre pre {
    margin:0;
}



/*=====NAVIGATION=====*/

#main-navigation ul {
    margin:0;
    list-style:none;
    padding:0;
}

#main-navigation a {
    color: #CCCCCC;
    text-decoration: none;
    font-size: 16px;
    padding: 30px 20px;
    display: block;
    transition: background-color 100ms;
    &:hover {
        background-color: $hover-dark-grey;
    }
}

#main-navigation li.nav-active a {
    color: #f2f2f2;
    background: rgba(0,0,0,0.20);
    -moz-box-shadow:    inset 4px 0px 0px 0px #FF9500;
    box-shadow:         inset 4px 0px 0px 0px #FF9500;
}

/*=====Formatting Section=====*/

#wrapper {
    width:610px;
    margin: 0 0 100px 280px;
    padding: 40px 0 0 0;
    font-family: $default-font;
}

section p {
    line-height:24px;
}

section h2 {
    font-size: 40px;
    font-weight: lighter;
}

section h3 {
    font-size: 24px;
    margin: 0 0 1.6em 0;
    font-weight: lighter;
}

section {
margin-bottom: 50px;
border-bottom: 1px dashed #C1C1C1;
padding-bottom: 50px;
}


/*====BUTTON STYLES====*/

#form {
    .platform {
        font-size:12px;
    }

    .in-content {
        font-size:14px;
    }

    .platform {
        .button {
            padding:6px;
            margin: 0 24px 0 0;    
            width:90px;
        }
        input[type=text]{
            width:50%;
        }
    }
    .in-content {
        .button {
            padding: 8px;
            margin: 0 28px 0 0;  
            width:105px;  
        }
        input[type=text]{
            width:60%;
        }
    }
    .button {
        border-radius: 2px;
        &.primary {
            border:1px solid $text-light-grey;
            background-color: $light-grey;
            &:hover {
                background-color: $hover-light-grey;
            }
            &:active {
                background-color: $active-light-grey;
            }
        }
        &.emphasis {
            color: $light-grey;
            border:none;
            background: $blue;
            &:hover {
                background: $hover-blue;
            }
            &:active {
                background: $active-blue;
            }
        }
        &.special {
            color: $light-grey;
            border:none;
            background: $green;
            &:hover {
                background: $hover-green;
            }
            &:active {
                background: $active-green;
            }
        }
        &.input-button {
            border-left:none;
            padding:5px 10px;
            line-height: 1.4em;
            border-radius: 0 2px 2px 0;
        }
    }
    #button-group {

        .button-group {
            button {
                background: $light-grey;
                border-top:1px solid $text-light-grey;
                border-right:1px solid $text-light-grey;
                border-bottom:1px solid $text-light-grey;
                border-left: none;
                width: 104px;
                padding: 8px; 
                &:hover {
                    background: $hover-light-grey;
                }
                &:active {
                    background: $active-light-grey;
                }
            }
            :first-child {
                border-radius:2px 0 0 2px;
                border-left:1px solid $text-light-grey;
            }
            :last-child {
                border-radius:0 2px 2px 0;
            }
        }
    }

    .icon-button {
        margin:32px;
        width:40px;
        height:40px;
        &.primary {
            border:none;
        }
        &:hover {
            border:1px solid $text-light-grey;
        }
        &:active {
            border:1px solid $text-light-grey;
        }   
        span {
            visibility: hidden;
        }
        &.sync {
            background-image: url(../images/sync@2x.png);
            background-size:30px 30px;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    input[type='text'] {
        border-radius:2px;
        border: 1px solid $text-light-grey;
        padding:5px 10px;
        line-height:1.4em;
        &:active,&:focus {
            border-color: $blue;
        }
    }

    input.button-input {
        border-radius: 2px 0 0 2px;
    }

    input.error {
        border:1px solid $error-red;
    }

    .form-label {
        display: block;
        margin-bottom:.5em;
    }

    .error-label {
        display: block;
        margin-top: .5em;
        color: $error-red;
    }

}

/*====Navigation*======*/

#wrapper .nav-group {
    ul {
        list-style: none;
        padding:0; 
        margin:0;
    }
    a {
        cursor: pointer;
        text-decoration: none;
        transition: background-color 50ms;
    }
    &.horizontal {
        li {
            float:left;
            height: 38px;
        }
        a {
            padding:10px 20px;
        }
    }
    &.vertical {
        a {
            display: block;
            padding:10px 20px;
            width:200px;
        }
    }
    &.dark {
        a {
            background-color: $dark-grey;
            color: $light-grey;
        }   
        a:hover {
            background-color: $hover-dark-grey;
        }
        a:active{
            background: $active-dark-grey;
        }
        &.vertical {
            a.active {
                background: $active-dark-grey;
                box-shadow: inset 4px 0px 0px 0px #FF9500;
            }
        }
        &.horizontal {
            a.active {
                background: $active-dark-grey;
                box-shadow: inset 0px -4px 0px 0px #FF9500;
            }
        }      
    }
    &.light {
        a {
            background-color: $light-grey;
            color: $dark-grey;
        }   
        a:hover {
            background-color: $hover-light-grey;
        }
        a:active{
            background: $active-light-grey;
        }
        &.vertical {
            a.active {
                background: $active-light-grey;
                box-shadow: inset 4px 0px 0px 0px $highlight-orange;
            }
        }
        &.horizontal {
            a.active {
                background: $active-light-grey;
                box-shadow: inset 0px -4px 0px 0px $highlight-orange;
            }
        } 
    }
}

/*====COLOR STYLES=====*/
.swatch {
    width:200px;
    height:240px;
    float:left;
    h4 {
        text-align: center;
        margin: 0;
    }
    span {
        display: block;
        text-align: center;
        font-size:12px;
        font-weight: bold;
    }
    div {
        height:120px;
        width:120px;
        margin:0 auto 10px auto;
        border-radius:80px;
        font-size:10px;
        position: relative;
        text-align: center;
        transition: background-color 250ms;
    }
    &:nth-child(1) div {
        background-color: $light-grey;
        cursor: pointer;
        &:hover {
            background-color: $hover-light-grey;
        }
        &:active {
            background-color: $active-light-grey;
        }
    }
    &:nth-child(2) div {
        background-color: $body-background-grey;
    }
    &:nth-child(3) div {
        background-color: $dark-grey;
        cursor: pointer;
        &:hover {
            background-color: $hover-dark-grey;
        }
        &:active {
            background-color: $active-dark-grey;
        }
    }
    &:nth-child(4) div {
        background-color: $text-light-grey;
    }
    &:nth-child(5) div {
        background-color: $text-dark-grey;
    }
    &:nth-child(6) div {
        background-color: $blue;
        cursor: pointer;
        &:hover {
            background-color: $hover-blue;
        }
        &:active {
            background-color: $active-blue;
        }
    }
    &:nth-child(7) div {
        background-color: $green;
        cursor: pointer;
        &:hover {
            background-color: $hover-green;
        }
        &:active {
            background-color: $active-green;
        }
    }
    &:nth-child(8) div {
        background-color: $highlight-orange;
    }
    &:nth-child(9) div {
        background-color: $error-red;
    }
}

/*=====Typography=====*/
.mega-text {
    font-size: 100px;
    line-height: 1em;
}

div.windows {
    font-family: 'segoe_uiregular' !important;
    h1,h2 {
      font-family: 'segoe_uiregular' !important;  
    }
    h3 {
        font-family: 'segoe_uibold' !important;
    }
}

div.mac {
    font-family: 'lucida grande';
    h1,h2 {
      font-family: 'lucida grande' !important;  
    }
    h3 {
        font-family: 'lucida grande' !important;
        font-weight: bold;
    }
    p {
        font-size: 13px;
    }

}

div.charis {
    font-family: 'charis_silregular';
    h1,h2 {
      font-family: 'charis_silregular' !important;  
    }
    h3 {
        font-family: 'charis_silregular' !important;
        font-weight: bold;
    }
    p {
        font-size: 13px;
    }

}

div.clear-sans {
    font-family: 'clear_sansregular';
    h1,h2 {
      font-family: 'clear_sansregular' !important;  
    }
    h3 {
        font-family: 'clear_sansregular' !important;
        font-weight: bold;
    }
    p {
        font-size: 13px;
    }

}

div.fira {
    font-family: 'fira_sanslight';
    h1,h2 {
      font-family: 'fira_sanslight' !important;  
    }
    h3 {
        font-family: 'fira_sanslight' !important;
        font-weight: bold;
    }
    p {
        font-size: 13px;
    }

}

div.type-sample {
    padding: 0 0 0 40px;
    h1 {
        font-size: 24px;
        font-weight: normal;
        position: relative;
        &:after {
            content:'<h1>';
            position:absolute;
            font-size: 12px;
            font-family: sans-serif;
            color: $text-light-grey;
            left:-40px;
            bottom:0;
        }
    }
    h2 {
        font-size:16px;
        position: relative;
        &:after {
            content:'<h2>';
            position:absolute;
            font-size: 12px;
            font-family: sans-serif;
            color: $text-light-grey;
            left:-40px;
            bottom:0;
        }
    }
    h3 {
        font-size: 14px;
        position: relative;
        &:after {
            content:'<h3>';
            position:absolute;
            font-size: 12px;
            font-family: sans-serif;
            color: $text-light-grey;
            left:-40px;
            bottom: 0;
            font-weight: normal;
        }
    }
    p {
        font-size: 12px;
        position: relative;
        &:after {
            content:'<p>';
            position:absolute;
            font-size: 12px;
            font-family: sans-serif;
            color: $text-light-grey;
            left:-40px;
            bottom:0;
        }
    }
}


/*====PLACEHOLDER STYLES====*/


.box {
    height:400px;
    background: url(../images/template@2x.png) #fff;
    background-size: 610px 400px;

}

/*====STUPID CLEARFIX====*/

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

