// COLORS AND COLORS AND COLORS AND COLORS

$body-background-grey: #F2F2F2;

$light-grey: #F0F0F0;
$med-grey: #6A7B86;
$dark-grey: #424F5A;

$hover-dark-grey: #5E6972;
$active-dark-grey: #343F48;

$hover-light-grey: #EBEBEB;
$active-light-grey: #DADADA;

$text-light-grey: #C1C1C1;
$text-dark-grey: #333333;


$green: #74BF43;
$hover-green: #6CB23E;
$active-green: #64A43A;

$blue: #0095DD;
$hover-blue: #008ACB;
$active-blue: #006B9D;

$highlight-orange: #FF9500;


$chameleon-gradient: linear-gradient(-46deg, rgba(0,255,239,0.10) 0%, rgba(21,255,124,0.12) 48%, rgba(45,255,0,0.15) 100%);

// FONTS

$default-font: 'Helvetica Neue', Helvetica, Sans-serif;
$default-header-font: Helvetica, Sans-serif;
